@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');


.container header {

    border: solid 1px darkred;
    background-color: rgb(248, 232, 235);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    /* margin: 0 300px 0 300px ; */
    justify-content: center;

}

.container header a{
    text-decoration: none;
    color:darkred;
    font-size:150%;
    align-items: center;
    justify-content: space-between;
    margin: auto 5% auto 5%;
}

.container .container-perfil {
    display: flex;
    font-family: 'Playball';
    font-size: 50px;
    justify-content: center;
}

.container .container-dados{
    display: flex;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-right: 20%;
    margin-left: 20%;

}

.container .container-dados .documentos {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    margin-left: 50px;
}

.container .container-dados .documentos h3 + p{
    margin-top: -15px;
}

.container .container-dados .avatar img{

    width: 50%;
    align-items: center;
    margin-left: 100px;

}


@media (max-width: 900px){


.container header {

    display: flex;
    flex-wrap: wrap; 
}

.container header a{
    font-size:120%;  
}

.container header a + a + a{
    margin-top: 10px;
}

.container .container-dados{
    display: inline;
}

.container .container-dados .documentos {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 0px;
    margin-top: -50px;
}



}