

.title{

    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(2, 48, 48);

}

.inserir{

    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}

.inserir input{
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid rgb(143, 143, 143);
    border-radius: 4px;
}


.inserir label{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
   
}
