@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

body{
    background-color:white ;
    margin: 30px;
}

header h1 {
    text-align: center;
    border: solid black;
    border-radius: 8px;
    border: double;
    padding: 10px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-color: darkred;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}


.container{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    padding: 10px;
    margin-right: 20%;
    margin-left: 20%;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  
}

.container .container-link a{
   
    display: flex;
    padding-right: 300px;
    padding-top: 5px;
    text-decoration: none; color:darkred; font-size:200%;
    
}
    

.container .container-img img{
    
    width: 70%;
   
}

.container-text{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   /* quero separar em 3 colunas  */
}

.container-text p{
    font-family: 'Playball' ;
    font-size: 20px;
    text-align: center;
    grid-column-start: 2;
    /* inicia na coluna 2 */
    border: 2px solid  darkred;
    border-radius: 8px;
    background-color: rgb(252, 233, 233) ;
}


@media (max-width: 900px){

    .container{
        padding: 3px;
        border: none;
        box-shadow: none;
    }

    .container .container-link a{
   
        display: inline;
        padding-left: 100px;
        padding-top: 5px;
        text-decoration: none; color:darkred; font-size:200%;
        
    }

    .container-text p{
        
        font-size: 1,4rem;
        border: none;
        border: 2px solid  darkred;
        border-radius: 8px;
        background-color: rgb(252, 233, 233) ;
        grid-column-start: 1;
        grid-column-end: 3;
     
       
    }
    

}




